.project-container {
  display: flex;
  justify-content: center;
}

.project-img-wrap {
  position: relative;
  width: 100%;
  height: 98%;
}

.project-img-wrap img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5%;
}

.overlay {
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.project-img-wrap:hover .overlay {
  opacity: 0.85;
  cursor: pointer;
}

.overlaid {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2e2e2e;
  border-radius: 5%;
}

.overlaid-text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
  opacity: 1;
}
